
<div class="ui  inverted grey menu" style="border-radius: 0em;">
    <a class="item"> profile details </a>
    <a class="item"> inbox </a>
    <a class="item"> calendar </a>
    <a class="item"> Reviews </a>
</div>


<div class="ui grid container">
    <div class="four wide computer only column">
	<div class="ui vertical menu">
	    <a class="item">
		Add
	    </a>
	    <a class="item">
		Remove
	    </a>
	    <a class="item">
		Cool
	    </a>
	    <a class="item">
		Yes
	    </a>
	    <a class="item">
		Reviews
	    </a>
	</div>
    </div>
    
    <div class="ten wide centered column">
	<div class="ui segment" style="padding: 3em">
	    <form class="ui form">
		<div class="field">
		    <label>First Name</label>
		    <input type="text" name="first-name" placeholder="First Name">
		</div>
		<div class="field">
		    <label>Last Name</label>
		    <input type="text" name="last-name" placeholder="Last Name">
		</div>
		<div class="field">
		    <div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden">
			<label>I agree to the Terms and Conditions</label>
		    </div>
		</div>
		<button class="ui button" type="submit">Submit</button>
	    </form>
	    
	</div>
    </div>
    
</div>

