
<div class="ui grid">
    <div class="row">
	<div class="sixteen wide mobile only column">
	    <%= image_tag "matthew", class: "ui fluid image" %>
	</div>
    </div>
</div>

<div class="ui stackable very relaxed grid container">
    <div class="row">
	<div class="ten wide column">
	    <h1 class="ui teal header"> Hike with me for a Yoga treat </h1>
	    <p> Get Hooked to the world of Fun with Me and my
		Yoga friends
	    </p>
	    <div class="ui divider"></div>
	    <%= link_to "#" do %>
	    <%= image_tag "matthew", class: "ui tiny circular image", style: "float: right" %>
	    <% end %>
	    <p> Cool </p>
	    <p>Full name</p>
	    <p>Hurray</p>
	   
	    <p>Kind</p>
	    <p>Nice path</p>
	    <p>You are in</p>
	    <div class="ui divider"></div>
	    <p>hello</p>
	    <p></p>
	    <p>Nice</p>
	    <p>yes</p>
	    <p>cool </p>
	    <p>cool</p>
	    <p>time</p>
	    <p>work</p>
	    <div class="ui divider"></div>
	</div>
	
	<div class="six wide computer tablet only column">
	    <%= image_tag "matthew", class: "ui large image" %>
	    <div>
	    <p>N30 per event</p>
 	    <div class="ui star rating" data-rating="3"></div>
	    <div class="ui big red button">Book Now</div>
	    </div>
	    <div class="ui divider"></div>
	</div>
    </div>

</div>

