
<%= render 'profiles/top_dashboard_menu' %>
<div class="ui grid container">
    <!-- Responsive mobile only column -->
	<div class="sixteen wide mobile only column">
	    <div class="ui top attached message">
		Edit Profile
	    </div>
	    <div class="ui attached very padded segment">
		<form class="ui form">
		    <div class="field">
			<label>First Name</label>
			<input type="text" name="first-name" placeholder="First Name">
		    </div>
		    <div class="field">
			<label>Last Name</label>
			<input type="text" name="last-name" placeholder="Last Name">
		    </div>
		    <div class="field">
			<div class="ui checkbox">
			    <input type="checkbox" tabindex="0" class="hidden">
			    <label>I agree to the Terms and Conditions</label>
			</div>
		    </div>
		    <button class="ui button" type="submit">Update</button>
		</form>
	    </div>


	    <div class="ui top attached message">
		Listings
	    </div>
	    <div class="ui attached very padded segment">
		<form class="ui form">
		    <div class="field">
			<label>First Name</label>
			<input type="text" name="first-name" placeholder="First Name">
		    </div>
		    <div class="field">
			<label>Last Name</label>
			<input type="text" name="last-name" placeholder="Last Name">
		    </div>
		    <div class="field">
			<div class="ui checkbox">
			    <input type="checkbox" tabindex="0" class="hidden">
			    <label>I agree to the Terms and Conditions</label>
			</div>
		    </div>
		    <button class="ui button" type="submit">Submit</button>
		</form>
	    </div>
	    
	</div>
    
    
 
    <div class="four wide tablet computer only column">
	<div class="ui fluid vertical pointing menu">
	    <a class="active item">
		<i class="user icon"></i>
		Edit Profile
	    </a>
	    <a class="item">
		Photos 
	    </a>
	    <a class="item">
		<i class="grid layout icon"></i>
		Reviews
	    </a>
	</div>
	<a href="/profiles/user" class="ui basic fluid button" style="margin-top: 3em">
	    View Profile
	</a>
    </div>

    
    <div class="twelve wide tablet computer only column">
	<div class="ui top attached message">
	    Edit Profile
	</div>
	<div class="ui attached very padded segment">
	    <form class="ui form">
		<div class="field">
		    <label>First Name</label>
		    <input type="text" name="first-name" placeholder="First Name">
		</div>
		<div class="field">
		    <label>Last Name</label>
		    <input type="text" name="last-name" placeholder="Last Name">
		</div>
		<div class="field">
		    <div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden">
			<label>I agree to the Terms and Conditions</label>
		    </div>
		</div>
		<button class="ui button" type="submit">Update</button>
	    </form>
	</div>


	<div class="ui top attached message">
	    Edit Profile
	</div>
	<div class="ui attached very padded segment">
	    <form class="ui form">
		<div class="field">
		    <label>First Name</label>
		    <input type="text" name="first-name" placeholder="First Name">
		</div>
		<div class="field">
		    <label>Last Name</label>
		    <input type="text" name="last-name" placeholder="Last Name">
		</div>
		<div class="field">
		    <div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden">
			<label>I agree to the Terms and Conditions</label>
		    </div>
		</div>
		<button class="ui button" type="submit">Submit</button>
	    </form>
	</div>

	
    </div>
</div>

