
<h3 class="ui grey header">Describe your event space</h3>
<form class="ui big form">
	<div class="field">
	    <input type="text" name="listing[name]" placeholder="Name of your Event space (optional)">
	</div>
	<div class="field">
	    <textarea name="listing[description]" placeholder="Describe your event space to your prospective host"> </textarea>
	</div>
	<div class="ui big button" tabindex="0">
	    Save
	    <i class="save icon"></i>
	</div>
</form>

<div class="ui divider"></div>
<div class="ui teal right floated button" tabindex="0" onClick='nextStep()'>Next <i class="angle right icon"></i></div>
