
<div class="describe listing">
    <h3 class="ui grey header">Describe your event space</h3>
    
<form method="post" class="ui big form space" onSubmit='event.preventDefault();'>
    <div class="field">
	<label>Name of the Event space(optional)</label>
	    <input type="text" name="space[name]" placeholder="Name of your Event space (optional)">
	</div>
	<div class="field">
	    <label>Location </label>
	    <input type="text" name="space[location]" placeholder="Name of your Event space">
	</div>

	<div class="field">
	    <label>Fee</label>
	    <input type="text" name="space[fee]" placeholder="Name of your Event space">
	</div>

	<div class="field">
	    <label>Guest Capacity</label>
	    <input type="text" name="space[guest_capacity]" placeholder="Name of your Event space">
	</div>

	<div class="field">
	    <label> Description </label>
	    <textarea name="space[description]" placeholder="Describe your event space to your prospective host"> </textarea>
	</div>
	<div class="ui big submit button" tabindex="0">
	    Save
	</div>
</form>

<div class="ui divider"></div>
<div class="ui teal right floated button" tabindex="0" onClick='item.facilityListing()'>Next <i class="angle right icon"></i></div>
</div>
