<form class="ui form">
	<div class="field">
	    <input type="text" name="listing[location]" placeholder="Location" autofocus="true">
	</div>
	<div class="field">
	    <input type="text" name="listing[name]" placeholder="Name">
	</div>
	<div class="field">
	    <input type="text" name="shipping[address]" placeholder="Street Address">
	</div>
	<div class="ui button" tabindex="0">Save details</div>
</form>

<div class="ui divider"></div>
<div class="ui teal right floated button" tabindex="0">Next <i class="angle right icon"></i></div>
