
<div class="photo listing" style="display:none"> 
<form class="ui big form listing">
    <div class="field">
	<label> Location</label>
	    <input type="text" name="listing[location]" placeholder="Location" autofocus="true">
	</div>
	<div class="field">
	    <label>Name</label>
	    <input type="text" name="listing[name]" placeholder="Name">
	</div>
	<div class="field">
	    <label>Shipping Address</label>
	    <input type="text" name="shipping[address]" placeholder="Street Address">
	</div>
	<div class="ui button" tabindex="0">Save details</div>
</form>

<div class="ui divider"></div>
<div onClick="item.ruleListing()" class="ui basic teal left floated button" tabindex="0"><i class="angle left icon"></i>Back</div>
<div class="ui teal right floated button" tabindex="0">Finish</div>
</div>
