<div class="ui text container">    
    <div class="ui big fluid search item">
	<div class="ui fluid icon input">
	    <i class="red search link icon"></i>
	    <%= text_field_tag :query, params[:query], class: "prompt", placeholder: 'Event Venues, Services', style: "border-radius: 0.4em; " %>

	</div>
    </div>
</div>
