
<div class="ui stackable grid">    
    <div class="twelve column wide ">
	<h2 class="ui header" style="color: #fd5c63"> Airtoast </h2>

	<div class="ui big fluid search item">
	    <div class="ui icon input">
		<%= text_field_tag :query, params[:query], class: "prompt", placeholder: 'Event Venues, Services', style: "border-radius: 0.4em;  min-width: 35em !important;" %>
		<i class="red search link icon"></i>
	    </div>
	</div>
    </div>
</div>
