
<style>

 /* .owl-nav{
    .disabled{
    display: none;
    }
    } */
 
 .owl-carousel {
     position: relative;
     margin-top: 7em;
 }
 .owl-prev,
 .owl-next {
     position: absolute;
     top: 40%;
     margin-top: -10px; /* Half of the prev/next buttons height here in negatives to center them perfectly */
 }
 .owl-prev {
     left: 0;
 }
 .owl-next {
     right: 0;
 }

 .cover {
     background-image: url("/assets/background1"); height: 41em !important; background-repeat: no-repeat !important; background-size: cover !important; background-position: 50% 50% !important; cursor: pointer;"
 }
</style>
<div class="ui grid cover" >
    <%#= render 'search' %>
    <div>

	<div class="ui icon button" style="background-color: white;  margin-top: 25em !important; margin-left: 3em; padding-left:1.8em; padding-right: 2.8em">
	    Get started
	</div>
    </div>
</div>

<br />
<br />
<br />

<div class="ui container">
    <div class="index owl-carousel owl-theme">
	<div>
	    <a  href="/profiles/rental" class="ui image">
		<img src="/assets/matthew">
		Your Content
	    </a>
	</div>
	<div>
	    <a  href="/profiles/rental" class="ui image">
		<img src="/assets/jenny"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </a>
	</div>
	<div>
	    <a  href="/profiles/rental" class="ui image">
		<img src="/assets/background1"/ >
		<div> All event centers that are the most awesome and cool ...</div>
	    </a>
	</div>
	<div>
	    <a  href="/profiles/rental" class="ui image">
		<img src="/assets/stevie"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </a>
	</div>
	<div>
	    <a  href="/profiles/rental" class="ui image">
		<img src="/assets/stevie"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </a>
	</div>
	<div>
	    <a  href="/profiles/rental" class="ui image">
		<img src="/assets/stevie"/>
		All event centers that are the most awesome and cool ...
	    </a>
	</div>
	<div>
	    <a  href="/profiles/rental" class="ui image">
		<img src="/assets/stevie"/>
		<div>
		    All event centers that are the most awesome and cool ... </div>
	    </a>
	</div>
    </div>
</div>

<div class="ui container">
    <div class="category owl-carousel owl-theme">
	<div>
	    <div class="ui image">
		<img src="/assets/matthew">
		Your Content
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/jenny"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/background1"/ >
		<div> All event centers that are the most awesome and cool ...</div>
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/stevie"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/stevie"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/stevie"/>
		All event centers that are the most awesome and cool ...
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/stevie"/>
		<div>
		    All event centers that are the most awesome and cool ... </div>
	    </div>
	</div>
    </div>
</div>

<div class="ui container">
    <div class="index owl-carousel owl-theme">
	<div>
	    <div href="/profiles/rental" class="ui image">
		<img src="/assets/matthew">
		Your Content
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/jenny"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/background1"/ >
		<div> All event centers that are the most awesome and cool ...</div>
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/stevie"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/stevie"/>
		<div> All event centers that are the most awesome and cool ...</div>
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/stevie"/>
		All event centers that are the most awesome and cool ...
	    </div>
	</div>
	<div>
	    <div class="ui image">
		<img src="/assets/stevie"/>
		<div>
		    All event centers that are the most awesome and cool ... </div>
	    </div>
	</div>
    </div>
</div>
