<br />
<br />
<br />
<div class="ui container">
    <div class="ui two column grid" >
	<h2 class="ui header" style="color: #fd5c63"> Airtoast </h2>
	<div class="column"
	    <h4 class="ui header" style="color: #003040"> Find and Book Awesome Event centers that match your taste for your events  </h4>
	</div>
	<div class="column"> </div>
    </div>
    <%= render 'search' %>
</div>
<br />
<br />




<!-- <div class="ui container">
     <div class="ui medium images owl-carousel">
     <div class="ui image item">
     <img src="/assets/matthew.png">
     </div>
     
     <div class="ui image item">
     <img src="/assets/matthew.png">
     </div>
     
     <div class="ui image">
     <img src="/assets/matthew.png">
     </div>

     <div class="ui image">
     <img src="/assets/matthew.png">
     </div>
     
     <div class="ui image">
     <img src="/assets/matthew.png">
     </div>
     
     <div class="ui image">
     <img src="/assets/matthew.png">
     </div>

     <div class="ui image">
     <img src="/assets/matthew.png">
     </div>
     
     <div class="ui image">
     <img src="/assets/matthew.png">
     </div>
     </div> -->
    <!-- </div> -->

<div class="owl-carousel owl-theme container">    
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>
    <div class="item">
	<div class="ui medium image">
	    <img src="/assets/matthew.png">
	</div>
	<h4>2</h4>
    </div>

</div>



<script>
 $(document).ready(function(){
 $('.owl-carousel .item').owlCarousel({
     margin:10,
     nav:true,
     responsive:{
         0:{
             items:1
         },
         600:{
             items:3
         },
         1000:{
             items:5
         }
     }
 });
 });
 /* $('.slider').slick({
  *    // dots: true,
  *     infinite: false,
  *     slidesToShow: 3,
  *     slidesToScroll: 1,
  *     swipeToSlide: true,
  *    // autoplay: true,
  *     arrows: true,
  *    // nextArrow: "<div class='ui circular basic button slick-next'><i class='angle right icon'></i></div>",
  *     nextArrow: "<div class='big slick-next' style='background-color: grey;'></div>",
  *     prevArrow: "<div class='big slick-prev' style='background-color: grey;'></div>",

  *     responsive: [{

    breakpoint: 1024,
    settings: {
  *             slidesToShow: 3,
  *             infinite: true
    }

  *     }, {

    breakpoint: 600,
    settings: {
  *             slidesToShow: 2,
  *             dots: true
    }

  *     }, {

    breakpoint: 300,
    settings: "unslick" // destroys slick

  *     }]
  *     
  *     });*/
</script>
