
<br />
<br />
<br />

<div class="ui stackable grid container">
  <%= render 'search' %>

  <br />
  <br />
  

  <div class='slider'>
    <div><h3>Hello world man</h3></div>
    <div><h3>Cool world</h3></div>
    <div><h3>I dont know what to write here</h3></div>
    <div><h3>And here too</h3></div>
    <div><h3>I am done</h3></div>
    <div><h3>6</h3></div>
  </div>

</div>


<script>
  $(document).ready(function() {
  $(".slider").slick({
  infinite: false,
  autoplay: true }); 
  });
</script>
