
<br />
<br />
<br />
<div class="ui container">
    <div class="ui two column grid" >
	<h2 class="ui header" style="color: #fd5c63"> Airtoast </h2>
	<div class="column"
	    <h4 class="ui header" style="color: #003040"> Find and Book Awesome Event centers that match your taste for your events  </h4>
	</div>
	<div class="column"> </div>
    </div>
    <%= render 'search' %>
</div>
<br />
<br />


<div class="ui container">
    <div class="ui five doubling cards">
	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/image.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>


	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>
	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>
	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>


	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>
    </div>

</div>

<script>
 $(document).ready(function() {
    $('.slide').slick({
    infinite: false,
    speed: 300,
    slidesToShow: 5,
    slidesToScroll: 1,
    autoplay: true,
    });
     
     $('.slide2').slick({
	 infinite: false,
	 speed: 300,
	 slidesToShow: 4,
	 slidesToScroll: 1,
	 autoplay: true,
     });
     /* 
      *      var mySwiper = new Swiper ('.swiper-container', {
      * 	 // Optional parameters
      * 	 direction: 'horizontal',
      * 	 autoplay: true,
      * 	 loop: true
      *      });*/

     var appendNumber = 4;
     var prependNumber = 2;
     var swiper = new Swiper('.swiper-container', {
	 pagination: '.swiper-pagination',
	 nextButton: '.swiper-button-next',
	 prevButton: '.swiper-button-prev',
	 slidesPerView: 3,
	 centeredSlides: true,
	 paginationClickable: true,
	 spaceBetween: 3,
	 preventClicks: true,
	 preventClicksPropagation: true
     });
 });

 
</script>
