
<br />
<br />
<br />
<div class="ui container">
    <div class="ui two column grid" >
	<h2 class="ui header" style="color: #fd5c63"> Airtoast </h2>
	<div class="column"
	    <h4 class="ui header" style="color: #003040"> Find and Book Awesome Event centers that match your taste for your events  </h4>
	</div>
	<div class="column"> </div>
    </div>
    <%= render 'search' %>
</div>
<br />
<br />


<div class="ui container">
    <div class="slider">
    <!-- <div class="owl-carousel owl-theme">   -->
    <div class="ui five  cards">
	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/image.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>


	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>
	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>
	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>



    
	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>


	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>

	<div class="card" style="border-radius: 0em; ">
	    <div class="ui image">
		<%#= image_tag 'image.png' %>
		<img src="/assets/matthew.png">
	    </div>
	    
	    <div class="content" style="border: none;" >
		<div class="header">Matt Giampietro</div>
		<div class="meta">
		    <a>Friends</a>
		</div>
		<div class="description">
		    Matthew is an interior designer living in New York.
		</div>
	    </div>
	    <div class="extra content">
		<span class="right floated">
		    Joined in 2013
		</span>
		<span>
		    <i class="user icon"></i>
		    75 Friends
		</span>
	    </div>
	</div>
    </div>
  
</div>
  

<script>
 function initSlider(){
     $('.slider').slick({
         dots: false,
         infinite: true,
         speed: 300,
         slidesToShow: 1,
         autoplay: true,
         prevArrow: '<div class="slick-prev"><i class="fa fa-chevron-left"></i></div>',
         nextArrow: '<div class="slick-next"><i class="fa fa-chevron-right"></i></div>'
     });
 }
 
 $(document).ready(function(){
     initSlider();
     /* $(".slider").slick({
	infinite: false
      * });*/
     
     /* $('.owl-carousel').owlCarousel({
	margin:20,
	nav:true
      * });*/
});
 
</script>
