<script>
 $(document).ready( () =>  {
     $('.ui.rating').rating();
 });
</script>


<br />
<br />
<br />

<div class="ui container">
    <div class="ui two column grid" >
	<h2 class="ui header" style="color: #fd5c63"> Airtoast </h2>
	<div class="column"
	    <h4 class="ui header" style="color: #003040"> Find and Book Awesome Event centers that match your taste for your events  </h4>
	</div>
	<div class="column"> </div>
    </div>
    <%= render 'search' %>
</div>
<br />
<br />

<!-- Index Content from React -->
<div class="carousel"></div>

