<div class="ui mini modal accept terms"  style='padding: 3em; border-radius: 0em; background: url(<%= image_path("background") %>); no-repeat 0 0 scroll; height: 70%;'>
    <i class="close icon"></i>
    <div class="description">
	<center> <i class="circular huge teal call icon"></i>  </center>
	<div class="ui centered grey header"> Phone Number </div>

	<form class="ui form" method="POST" onSubmit='event.preventDefault(); handleProfilePic();'>
	    <div class="field">
		<button onClick='afterSignup.profilePicture()' class="ui big fluid red button"> Continue <i class="angle right icon"></i></button>
	    </div>
	</form>
	<div class="ui divider"> </div>
	<center> <a href="#" style="color: grey"> Cancel </a> </center>
    </div>
</div>


