
<style>
 .profilepic {
     margin-bottom: 4em;
 }
</style>

  
<div class="ui mini modal profile picture"  style="padding: 3em; padding-top: 2em; border-radius: 0em;">
    <i class="close icon"></i>
    <div class="content">
	<div class="description">	    
	    <center>
		<div>  
		    <img src="/assets/matthew.png" id="pix" class="ui small circular image profilepic">
		</div>
	    </center>
	    
	    <form class="ui form profilepicture"> <!--   method="POST" onsubmit="event.preventDefault(); handlePictureProfileSubmit();"> --> 
		<!-- <div class="field">
		     <label for="file">
		     <div class="ui fluid button">
		     Open File
		     </div>
		     </label>
		     <input type="file" id="file" accept="image/*" style="display:none" onChange='handlePictureProfileChange($(this))' id="profile-pic" name="upload">
		     </div>
		     
		     <div class="field">
		     
		     </div> -->
		<div class="ui error message"></div>
	    </form>
	    <button onClick='afterSignup.phoneNumber()' class="ui fluid red button"> Save <i class="angle right icon"></i> </button>
	</div>
	<div class="ui divider"> </div>
	<h4 class="ui grey centered header">
	    <a  onClick=''> I will do it later </a>
	</h4>
    </div>
</div>
