
<div class="ui mini modal profile pic" style="padding: 3em; border-radius: 0em;">
    <i class="close icon"></i>
    <div class="description">
	<center> <i class="circular huge teal call icon"></i>  </center>
	<div class="ui centered grey header"> Phone Number </div>

	<form class="ui form" method="POST" onSubmit='event.preventDefault(); handleProfilePic();'>
	    <div class="field">
		<input type="text" class="ui icon input" placeholder="Phone Number">
	    </div>
	    <div class="field">
		<button class="ui fluid teal button"> Continue <i class="angle right icon"></i> </button>
	    </div>
	</form>
	<div class="ui divider"> </div>
	<center> <a href="#" style="color: grey"> Cancel </a> </center>
    </div>
</div>
