
<div class="ui mini modal listing terms"  style='padding: 3em; border-radius: 0em; height: 70%; background: url("/assets/background"); no-repeat 0 0 scroll; height: 70%;'>
    <i class="close icon"></i>
    <div class="description">
	<center> <i class="circular huge teal sticky note outline icon"></i>  </center>
	<div class="ui centered grey header"> Terms </div>
	
	<form class="ui form">
	    <div class="field">

		<button class="ui big red right floated button" onClick='event.preventDefault(); item.acceptTerms()'>Accept</button>
		<button class="ui big left floated button">Decline</button>
	    </div>
	</form>
	<div class="ui divider"> </div>
	<center> <a href="#" style="color: grey"> Cancel </a> </center>
    </div>
</div>


