
<div class="ui vertical steps">
    <div class="step describe">
	<i class="grey truck icon"></i>
	<div class="content">
	    <div class="title">Description</div>
	    <div class="description">Describe your event space</div>
	</div>
    </div>
    <div class="step facility">
	<i class="grey credit card icon"></i>
	<div class="content">
	    <div class="title">Billing</div>
	    <div class="description">All Fees Breakdown</div>
	</div>
    </div>
    <div class="step rule">
	<i class="grey info circle icon"></i>
	<div class="content">
	    <div class="title">Rules</div>
	    <div class="description">Information to the Host</div>
	</div>
    </div>
    <div class="step photo">
	<i class="grey building icon"></i>
	<div class="content">
	    <div class="title">Facilities</div>
	    <div class="description">Things in your event space</div>
	</div>
    </div>
</div>
