<div class="ui basic segment">
    <center class="steping">
	<i class="thin circle icon description"></i>
	<i class="thin circle icon facility"></i>
	<i class="thin circle icon rule"></i>
	<i class="thin circle icon pho"></i>
    </center>
</div>
