
<div class="ui vertical steps">
    <div class="completed step">
	<i class="truck icon"></i>
	<div class="content">
	    <div class="title">Description</div>
	    <div class="description">A short Description of you event space</div>
	</div>
    </div>
    <div class="completed step">
	<i class="credit card icon"></i>
	<div class="content">
	    <div class="title">Billing</div>
	    <div class="description">Fees and billing order</div>
	</div>
    </div>
    <div class="active step">
	<i class="phone icon"></i>
	<div class="content">
	    <div class="title">Rules</div>
	    <div class="description">Rules to the Host</div>
	</div>
    </div>
    <div class="step">
	<i class="info icon"></i>
	<div class="content">
	    <div class="title">Facilities</div>
	    <div class="description">Things in your event space</div>
	</div>
    </div>
</div>
