<div class="ui two stackable grid">
    <div class="row">
	<div class="nine wide column" style="margin-left: 6.1em;">
	    <div class="ui two column stackable grid">
		<div class="column">
		    <img class="ui image" src="/assets/matthew">
		</div>
		<div class="column">
		    <img class="ui image" src="/assets/matthew">
		</div>

		<div class="column">
		    <img class="ui image" src="/assets/matthew">
		</div>
		<div class="column">
		    <img class="ui image" src="/assets/matthew">
		</div>
	    </div>

	    <center> 
		<div class="ui pagination menu" style="margin-top: 3em">
		    <a class="active item">
			1
		    </a>
		    <div class="disabled item">
			...
		    </div>
		    <a class="item">
			10
		    </a>
		    <a class="item">
			11
		    </a>
		    <a class="item">
			12
		    </a>
		</div>
	    </center>
	</div>
	    
	
	<div class="six wide computer only column">
	    <img class="ui image" src="/assets/matthew">
	</div>
    </div>
</div>
