<div class="ui fluid container">
    <div class="ui divider"></div>
    
    <div class="ui container">
	<div class="ui horizontal segments">
	    <div class="segment">
		<p> column 1 </p>
	    </div>
	    <div class="segment">
		<p> column 2 </p>
	    </div>
	    <div class="segment">
		<p> column 3 </p>
	    </div>
	</div>
	<div class="ui divider"></div>
	<p> Nice work </p>
    </div>
</div>
