
<div class="ui container" style="padding-top: 3em; margin-bottom: 3em">
    <div class="ui four column grid" style="margin-bottom: 2em">
	<div class="column">
	    <h4 class="ui header"> Airtoast </h3>
	    <p> About us  </p>
	    <p> Blog </p>
	</div>
	<div class="column">
	    <h4 class="ui header">Privacy Policy</h3>
	    <p> Disclaimer </p>
	    <p> Faq </p>
	</div>
	<div class="column">
	    <h4 class="ui header"> Contact Us</h3>
	    <p> Social Media </p>
	    <p> Blog </p>
	    <p> Contact </p>
	</div>
	<div class="column">
		<p> Social Media </p>
	</div>
    </div>
    <div class="ui divider"></div>
    <center>
	<h4 >Airtoast <i class="center copyright icon"></i> 2017 </p>
    </center>
</div>
