
<div class="ui tiny modal login"  style="padding: 1.5em; padding-right:3em; padding-left: 3em; border-radius: 0em;">
    <i class="active close icon"></i>
    <div class="content">
	<div class="description">
	    <button class="ui big fluid facebook button">
		<i class="facebook icon"></i>
		Login with Facebook
	    </button>
	    <button class="ui big fluid basic button" style="margin-top: 0.3em">
		<i class="red google icon"></i>
		Login with Google
	    </button>
	    <div class="ui horizontal divider">Or</div>
	    <form class="ui big form loginform" method="POST" onsubmit="event.preventDefault(); handleLoginSubmitClick();" >
		<div class="field">
		    <div class="ui icon input">
			<input type="text" name="email" id="email" placeholder="Email Address">
			<i class="mail outline icon"></i>
		    </div>
		</div>
		<div class="field">
		    <div class="ui icon input">
			<input type="password" name="password" id="password" placeholder="Password">
			<i class="lock icon"></i>
		    </div>
		</div>
		<div class="field">
		    <div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden">
			<label>Remember me</label>
		    </div>
		</div>
		<button class="ui big fluid red button submit login-button" type="submit">Login</button>
		<div class="ui error message"></div>
	    </form>
	    <h4 class="ui centered header">
		<a  onClick='resetPassword()'> Forgot Password? </a>
	    </h4>
	</div>
	<div class="ui divider"> </div>
	<h4 class="ui grey centered header">
	    Don’t have an account?  <a  onClick='signup()'> Sign up </a>
	</h4>
    </div>
</div>
