<div class="ui very thin top sidebar vertical menu">
  <a class="right item rental" href="#">
    Rentals
  </a>
  <a class="item" href="#">
    Services 
  </a>
  <a class="ui top pointing dropdown item" href='/items/new'>
    List your space
  </a>
  <a class="item" href='/help' >
    Help
  </a>
  <a class="item navSignup" onClick='signup()' >
    Sign up
  </a>
  <a class="item navLogin" onClick='login()' >
    Login
  </a>
  <a class="item navLogout"  onClick='signOut()' style="display: none" >
    Logout
  </a>
</div>
