<div class="ui very wide top sidebar vertical menu">
    <div class="ui floating top right pointing labeled icon       dropdown item rental">
	Categories
	<i class="angle down icon"></i>
	<div class="ui menu">
	    <a class="item"  href="">
		Weddings
	    </a>
	    <a class="item"  href="" >
		Meetups
	    </a>
	    <a class="item"  onClick="" >
		Training
	    </a>
	    <a class="item"  onClick="" >
		Out Door Event
	    </a>
	    <a class="item"  onClick="" >
		Art Display
	    </a>
	    <a class="item"  onClick="" >
		Workshops
	    </a>
	    <a class="item"  onClick="" >
		Birthday Parties
	    </a>
	    <a class="item"  onClick="" >
		Lunch Parties
	    </a>
	    <a class="item"  onClick="" >
		Networking Events
	    </a>
	    <a class="item"  onClick="" >
		Photo & Film Shoot
	    </a>
	</div>
    </div>

    <div class="ui fluid floating top right pointing labeled icon dropdown item">
	List Your Space
	<i class="angle down icon"></i>
	<div class="ui menu">
	    <a class="item" href="/items/new">
		Start
	    </a>
	    <a class="item" href="/items/new">
		Why List my Space
	    </a>
	</div>
    </div>
    
    <a class="ui item" href="/help">
	Help
    </a>
    <a class="item navSignup" onClick="signup()" >
	Sign up
    </a>
    <a class="item navLogin" onClick="login()" >
	Login
    </a>
    <a class="item navLogout"  onClick='signOut()' style="display: none" >
	Logout
    </a>
</div>
