
<div class="ui tiny modal password"  style="padding: 3em; border-radius: 0em;">
    <i class="close icon"></i>
    <div class="content">
	<div class="description">
	    <h3 class="ui centered header">Reset Password</h3>
	    <p> We’ll email you a link to reset your password </p>
	    <form class="ui big form passwordresetform" method="POST" onsubmit="event.preventDefault(); handlePasswordRecoveryClick();" >
		<div class="field">
		    <div class="ui icon input">
			<input type="text" name="email" id="resetemail" placeholder="Email Address">
			<i class="mail outline icon"></i>
		    </div>
		</div>
		<button class="ui big fluid red button" type="submit">Reset Password</button>
		<div class="ui error message"></div>
	    </form>
	</div>
	<h4 class="ui grey centered header">
	    <a onClick='login()' style="cursor: pointer"> <i class="big left angle icon"></i>Return to Login </a>
	</h4>
    </div>
</div>
