<div class="ui tiny modal signup" style="padding: 3em; border-radius: 0em">
    <i class="close icon"></i>
    <div class="content">
	<div class="description">
	    <h4 class="ui grey centered header">Sign up with <a href="#"> google</a> or <a href="#">facebook</a></h4>
	    <div class="ui horizontal divider">Or</div>
	    <form class="ui big form">
		<div class="field">
		    <div class="ui icon input">
			<input type="text" name="firstname" placeholder="First name">
			<i class="user icon"></i>
		    </div>
		</div>
		<div class="field">
		    <div class="ui icon input">
			<input type="text" name="Lastname" placeholder="Last name">
			<i class="user icon"></i>
		    </div>
		</div>
		<div class="field">
		    <div class="ui icon input">
			<input type="text" name="Email" placeholder="Email Address">
			<i class="mail outline icon"></i>
		    </div>
		</div>
		<div class="field">
		    <div class="ui icon input">
			<input type="password" name="password" placeholder="Password">
			<i class="lock icon"></i>
		    </div>
		</div>
		<div class="field">
		    <div class="ui checkbox">
			<input type="checkbox" tabindex="0" class="hidden">
			<label>I Agree to Airtoast terms of agreement </label>
		    </div>
		</div>
		<button class="ui big fluid red button" type="submit">Sign Up</button>
	    </form>  
	</div>
	<div class="ui divider"> </div>
	<h4 class="ui grey centered header">
	    Already have an Airtoast account? <a href="#" onClick='login()'> Log in </a>
	</h4>
    </div>
</div>
